*{
    transition: all 0.6s;
}

html {
    height: 100%;
    width: 100%;
}

.navbar-brand
{
    font-size: 40px;
    font-weight: bold;
    font-family: sans;
}

.container {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
}

.container-fluid
{
    font-size: 15px;
}

.error-container
{
	opacity: 1.0;
	min-height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
}
.error-box
{
	height: 50vh;
	width: 50vh;
	background-color:  #d68910;
	display:flex;
	align-items: center;
	text-align: center;
	padding: 5vh;
	position: relative;
}
.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn { 
    margin-right:10px; 
}

#query
{
    max-width: auto;
    border-radius: 10px;
    outline: none !important;
}

input:hover {
    border-width: 1px;
    box-shadow: 0 0 10px green;
}

#form
{
    size: 100px;
    margin-right: 0%;
}

#year
{
    width: 80px;
}

#fromYear
{
    width: 80px;
}

#toYear
{
    width: 80px;
}

#category
{
    width: 220px;
}

#collapseExample
{
    width: 220px;
}

#asCardBody
{
    width: 250px; 
    color:black;
}

#row
{
    -webkit-text-stroke:  black;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#tmdbLogo
{
    margin: 10px;
    padding: auto;
    height: 100px;
}

#slLogo
{
    margin: 10px;
    padding: auto;
    height: 100px;
}