/* pagination */
.pagination > li > a
{
    background-color: white;
    color: #116400;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #168100;
}

.pagination > .active > a
{
    color: white;
    background-color: #168100 !Important;
    border: solid 1px #168100 !Important;
}

.pagination > .active > a:hover
{
    background-color: #116400 !Important;
    border: solid 1px #116400;
}

.navbar-brand
{
    font-size: 40px;
    font-weight: bold;
    font-family: sans;
}

.container-fluid
{
    font-size: 16px;
}

#query
{
    padding: 10px;
    border-radius: 10px;
    outline: none !important;
    border-width: 1px;
    box-shadow: 0 0 10px green;
}

#asbtn
{
    margin: 10px;
    padding: 10px;
}

#year
{
    width: 80px;
}