<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
 <!--   <meta http-equiv="Content-Type" content="text/html/> -->
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <title>REST API Documentation</title> 
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <header>
        <!-- navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/awardmovies/index" style="color:gold;font-size:40px;"><b>Oscars Nomination</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/awardmovies/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/awardmovies/apiDoc">API document</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/awardmovies/animated-feature/2020">Animated feature</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/actor/2020">Actor</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/actress/2020">Actress</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/art-direction/2020">Art direction</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/assistant-director/2020">Assistant director</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/best-motion-picture/2020">Best motion picture</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/best-picture/2020">Best picture</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/best-picture/2020">Best picture</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/cinematography/2020">Cinematography</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/costume-design/2020">Costume design</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/dance-direction/2020">Dance direction</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/directing/2020">Directing</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/documentary/2020">Documentary</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/engineering-effects/2020">Engineering effects</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/film-editing/2020">Film editing</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/foreign-film/2020">Foreign film</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/international-film/2020">International film</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/makeup/2020">Makeup</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/music/2020">Music</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/outstanding-motion-picture/2020">Outstanding motion picture</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/outstanding-picture/2020">Outstanding picture</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/outstanding-production/2020">Outstanding production</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/short-film/2020">Short film</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/short-subject/2020">Short subject</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/sound/2020">Sound</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/sound-editing/2020">Sound editing</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/sound-recording/2020">Sound recording</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/special-effects/2020">Special effects</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/visual-effects/2020">Visual effects</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/writing/2020">Writing</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Winning-Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/awardmovies/winning/animated-feature/2020">Animated feature</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/actor/2020">Actor</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/actress/2020">Actress</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/art-direction/2020">Art direction</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/assistant-director/2020">Assistant director</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/best-motion-picture/2020">Best motion picture</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/best-picture/2020">Best picture</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/best-picture/2020">Best picture</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/cinematography/2020">Cinematography</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/costume-design/2020">Costume design</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/dance-direction/2020">Dance direction</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/directing/2020">Directing</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/documentary/2020">Documentary</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/engineering-effects/2020">Engineering effects</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/film-editing/2020">Film editing</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/foreign-film/2020">Foreign film</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/international-film/2020">International film</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/makeup/2020">Makeup</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/music/2020">Music</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/outstanding-motion-picture/2020">Outstanding motion picture</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/outstanding-picture/2020">Outstanding picture</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/outstanding-production/2020">Outstanding production</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/short-film/2020">Short film</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/short-subject/2020">Short subject</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/sound/2020">Sound</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/sound-editing/2020">Sound editing</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/sound-recording/2020">Sound recording</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/special-effects/2020">Special effects</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/visual-effects/2020">Visual effects</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/winning/writing/2020">Writing</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Nominated Year
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/awardmovies/year/2020">2020</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/year/2019">2019</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/year/2018">2018</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/year/2017">2017</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/year/2016">2016</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/year/2015">2015</a></li>
                        </ul>
                    </li>
                    </ul>
                    <form class="d-flex" role="search" id="form">
                        <input class="form-control me-2" type="search" id="query" name="q" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                        Advanced Search
                    </button>
                    <div style="min-height: 100px;">
                        <div class="collapse collapse-horizontal" id="collapseWidthExample">
                            <div class="card card-body" style="width: 400px; color:black">
                                <form class="d-flex" role="search" id="form1">
                                    <!--<select class="form-select" aria-label="Search" placeholder="Search" type="search" id="year" name="y" onchange="yearSelect()" style="width: 100px;">
                                        <option selected>Year</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                    </select>-->
                                    <input class="form-control me-2" type="search" id="year" name="y" placeholder="Year" aria-label="Search" maxlength="4">
                                    <select class="form-select" aria-label="Search" type="search" id="category" name="c" onchange="categorySelect()">
                                        <option selected>Category</option>
                                        <optgroup label="Nominated">
                                            <option value="animated-feature">Animated feature</option>
                                            <option value="actor">Actor</option>
                                            <option value="actress">Actress</option>
                                            <option value="art-direction">Art direction</option>
                                            <option value="assistant-director">Assistant director</option>
                                            <option value="best-motion-picture">Best motion picture</option>
                                            <option value="best-picture">Best picture</option>
                                            <option value="best-picture">Best picture</option>
                                            <option value="cinematography">Cinematography</option>
                                            <option value="costume-design">Costume design</option>
                                            <option value="dance-direction">Dance direction</option>
                                            <option value="directing">Directing</option>
                                            <option value="documentary">Documentary</option>
                                            <option value="engineering-effects">Engineering effects</option>
                                            <option value="film-editing">Film editing</option>
                                            <option value="foreign-film">Foreign film</option>
                                            <option value="international-film">International film</option>
                                            <option value="makeup">Makeup</option>
                                            <option value="music">Music</option>
                                            <option value="outstanding-motion-picture">Outstanding motion picture</option>
                                            <option value="outstanding-picture">Outstanding picture</option>
                                            <option value="outstanding-production">Outstanding production</option>
                                            <option value="short-film">Short film</option>
                                            <option value="short-subject">Short subject</option>
                                            <option value="sound">Sound</option>
                                            <option value="sound-editing">Sound editing</option>
                                            <option value="sound-recording">Sound recording</option>
                                            <option value="special-effects">Special effects</option>
                                            <option value="visual-effects">Visual effects</option>
                                            <option value="writing">Writing</option>
                                        </optgroup>
                                        <optgroup label="Winning">
                                            <option value="winning/animated-feature">Animated feature</option>
                                            <option value="winning/actor">Actor</option>
                                            <option value="winning/actress">Actress</option>
                                            <option value="winning/art-direction">Art direction</option>
                                            <option value="winning/assistant-director">Assistant director</option>
                                            <option value="winning/best-motion-picture">Best motion picture</option>
                                            <option value="winning/best-picture">Best picture</option>
                                            <option value="winning/best-picture">Best picture</option>
                                            <option value="winning/cinematography">Cinematography</option>
                                            <option value="winning/costume-design">Costume design</option>
                                            <option value="winning/dance-direction">Dance direction</option>
                                            <option value="winning/directing">Directing</option>
                                            <option value="winning/documentary">Documentary</option>
                                            <option value="winning/engineering-effects">Engineering effects</option>
                                            <option value="winning/film-editing">Film editing</option>
                                            <option value="winning/foreign-film">Foreign film</option>
                                            <option value="winning/international-film">International film</option>
                                            <option value="winning/makeup">Makeup</option>
                                            <option value="winning/music">Music</option>
                                            <option value="winning/outstanding-motion-picture">Outstanding motion picture</option>
                                            <option value="winning/outstanding-picture">Outstanding picture</option>
                                            <option value="winning/outstanding-production">Outstanding production</option>
                                            <option value="winning/short-film">Short film</option>
                                            <option value="winning/short-subject">Short subject</option>
                                            <option value="winning/sound">Sound</option>
                                            <option value="winning/sound-editing">Sound editing</option>
                                            <option value="winning/sound-recording">Sound recording</option>
                                            <option value="winning/special-effects">Special effects</option>
                                            <option value="winning/visual-effects">Visual effects</option>
                                            <option value="winning/writing">Writing</option>
                                        </optgroup>
                                    </select>
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="p-3 mb-2 bg-dark text-white">
    <h1>REST API Document</h1>
    <br>
    <p>The REST API allows users to obtain information about the movies or categories for oscars Awards.</p>
    <p>This pages list instructions for the use of the API.</p>
    <hr>
    <h2>Find Nomination by ID</h2>
    <p>An Oscars nomination can be located in the h2 database.</p>
    <p>Find Nomination by ID would always return only one JSON object.</p>
    <p>Input:</p>
    <p><b>http://localhost:8080/awardmovies/id/[id]</b></p>
    <p>[id]: Valid ID will be integer with a value between 1 and 10394.</p>
    <p>Output/Return:</p>
    <p>A single JSON object with this format:</p>
    <p>Example: {"id":1,"title":"The Noose","category":"ACTOR","yearReleased":1927,"yearNominated":1928,"awardee":"Richard Barthelmess","awardStatus":false,"link":"https://www.themoviedb.org/movie/113167/watch","imageLink":"https://image.tmdb.org/t/p/w500/hheIsv2RAp8htWZspOPPEcEdlTL.jpg","plot":"In this suspenseful silent crime drama, a hijacker proves his loyalty to his mother by killing his biological father, a blackmailing gangster who has been threatening to destroy the mother's happy marriage to the governor.","tmdbId":113167}</p>
    <p>id:(data type: integer) Unique id for each nominated movie</p>
    <p>title:(data type: string) Movie's title </p>
    <p>category: (data type: string) The Oscars nomination category</p>
    <p>yearReleased: (data type: integer) The release year of the movie</p>
    <p>yearNominated: (data type: integer) The nominated year of the movie</p>
    <p>awardee: (data type: string) The awardee of the nominated movie</p>
    <p>awardStatus: (data type: boolean) Set to false if the nominated movie did not get the award. Set to true if the ominated movie get the award.</p>
    <p>link: (data type: string) Providing a link to an external site for the movie from an outside source TMDB.</p>
    <p>imageLink: (data type: string) Providing a image link from the TMDB API of each movie</p>
    <p>plot: (data type: string) A brief introduction of the movie, obtained from the TMDB API</p>
    <p>tmdbId: (data type: integer) Unique id for the movie from the TMDB API. It is not the same as the id.</p>
    <hr>
    <h2>Find Nomination by year</h2>
    <p>Find all the nomination by year no matter of the categories for rewards.</p>
    <p>The set of data contain about 100+ data, therefore, request may take a longer response time</p>
    <p></p>
    <p>Input:</p>
    <p><b>http://localhost:8080/awardmovies/year/[year]</b></p>
    <p>[year]: Valid year will be integer with a value between 1928 and 2020.</p>
    <p>Output/Return:</p>
    <p>A set of JSON objects of nominated movies within input year.</p>
    <p>The format of a JSON object follow the format of nomination by ID</p>
    <hr>
    <h2>Find Nomination by Categories for rewards</h2>
    <p>Find Nomination by Categories will result a large set of data, and it will result a longer response time</p>
    <p>So, it is limited to use with year.</p>
    <p><b>http://localhost:8080/awardmovies/[categories]/[year]</b></p>
    <p>[year]: Valid year will be integer with a value between 1928 and 2020.</p>
    <p>[categories]:</p>
    <ul>
        <li>animated-feature</li>
        <li>actor</li>
        <li>actress</li>
        <li>art-direction</li>
        <li>costume-design</li>
        <li>dance-direction</li>
        <li>cinematography</li>
        <li>writing</li>
        <li>directing</li>
        <li>engineering-effects</li>
        <li>film-editing</li>
        <li>music</li>
    </ul>
    <p>Output/Return:</p>
    <p>A set of JSON objects of nominated movies within input categories and year.</p>
    <p>The format of a JSON object follow the format of nomination by ID</p>
    <hr>
    <h2>Search</h2>
    <p>Capitalization doesn't matter</p>
    <p>Input:</p>
    <p><b>http://localhost:8080/awardmovies/search-movie?Title=[movie name]</b></p>
    <p>[movie name]: Movie name could be genral or specific</p>
    <p>              The more genral input, the longer response time, and it might included more objects</p>
    <p>For example: Input "the last command" will return only one JSON object</p>
    <p>             Input "last" will return about 50 JSON object with longer response time.</p>
    <hr>
    <h2>Find Winner By Category</h2>
    <p>Finds the winners of a given category with respect to that year.</p>
    <p></p>
    <p>Input:</p>
    <p><b>http://localhost:8080/awardmovies/winning/[categories]/[year]</b></p>
    <p>[year]: A Valid year will be integer with a value between 1928 and 2020.</p>
    <p>[categories]: valid categories include</p>
    <ul>
        <li>animated-feature</li>
        <li>actor</li>
        <li>actress</li>
        <li>art-direction</li>
        <li>costume-design</li>
        <li>dance-direction</li>
        <li>cinematography</li>
        <li>writing</li>
        <li>directing</li>
        <li>engineering-effects</li>
        <li>film-editing</li>
        <li>music</li>
    </ul>
    <p>Output/Return:</p>
    <p>A singleton resource in JSON that displays the winner of that given category and year.</p>
    <p>The format of a JSON object follow the format of nomination by ID</p>
    </div>
    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/cssandjs/actions.js}"></script>
</body>   
</html>
