<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
 <!--   <meta http-equiv="Content-Type" content="text/html/> -->
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Oscar Movies</title> 
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <div class="p-3 mb-2 bg-dark text-white">
    <header>
        <!-- navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/awardmovies/index" style="color:gold;font-size:40px;"><b>Oscars Nomination</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/awardmovies/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/awardmovies/apiDoc">API document</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/awardmovies/animated-feature/2020">Animated feature</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/costume-design/2020">Costume design</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/film-editing/2020">Film editing</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/music/2020">Music</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Nominated Year
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/awardmovies/year/2020">2020</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/year/2019">2019</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/year/2018">2018</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/year/2017">2017</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/year/2016">2016</a></li>
                        <li><a class="dropdown-item" href="/awardmovies/year/2015">2015</a></li>
                        </ul>
                    </li>
                    </ul>
                    <form class="d-flex" role="search" id="form">
                        <input class="form-control me-2" type="search" id="query" name="q" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                        Advanced Search
                    </button>
                    <div style="min-height: 120px;">
                        <div class="collapse collapse-horizontal" id="collapseWidthExample">
                            <div class="card card-body" style="width: 400px;color:black">
                                <form class="d-flex" role="search" id="form1">
                                    <!--<select class="form-select" aria-label="Search" placeholder="Search" type="search" id="year" name="y" onchange="yearSelect()" style="width: 100px;">
                                        <option selected>Year</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                    </select>-->
                                    <input class="form-control me-2" type="search" id="year" name="y" placeholder="Year" aria-label="Search">
                                    <select class="form-select" aria-label="Search" placeholder="Search" type="search" id="category" name="c" onchange="categorySelect()">
                                        <option selected>Category</option>
                                        <option value="animated-feature">Animated feature</option>
                                        <option value="costume-design">Costume design</option>
                                        <option value="film-editing">Film editing</option>
                                    </select>
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- May use later -->
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
          </nav>
    </header>
    <p>
    <!-- movies table -->
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope = "col">ID#</th>
            <th scope = "col"></th>
            <th scope = "col">Title</th>
            <th scope = "col">Category</th>
            <th scope = "col">Released Year</th>
            <th scope = "col">Nominated Year</th>
            <th scope = "col">Awardee</th>
            <th scope = "col">Link</th> 
            <th scope = "col">Overview</th>
        </tr>
        </thead>
        <tbody>
        <tr id="row" th:each="movie: ${movie}">
            <td th:text="${movie.id}"/>
            <td><img th:src="@{${movie.imageLink}}" width="200" height="250"></td>
            <td th:text="${movie.title}"/>
            <td th:text="${movie.category}"/>
            <td th:text="${movie.yearReleased}"/>
            <td th:text="${movie.yearNominated}"/>
            <td th:text="${movie.awardee}"/>
            <td><a th:href="${movie.link}">View</a></td>
            <td th:text="${movie.plot}"/>
        </tr>
        </tbody>
    </table>
    </div>
    <!-- Testing <button type="button" th:onclick="showAlert()">Show Alert</button> -->
    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/cssandjs/actions.js}"></script>
</body>
</html>